{% load i18n static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ลงทะเบียนฝึกอบรม</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
    <script src="{% static 'js/datatable.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {% comment %} ตัวกล่อง {% endcomment %}

    <!-- นำเข้า  CSS จาก dataTables -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">

    <!-- นำเข้า  Javascript จาก  Jquery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- นำเข้า  Javascript  จาก   dataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        //คำสั่ง Jquery เริ่มทำงาน เมื่อ โหลดหน้า Page เสร็จ 
        $(function() {
            //กำหนดให้  Plug-in dataTable ทำงาน ใน ตาราง Html ที่มี id เท่ากับ example
            $('#example').dataTable();
        });
    </script>

    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        .container {
            width: 100%;
            margin: 0 auto;
            font-size: 17;
            text-align: center;
        }
        
        .container2 {
            width: 100%;
            margin: 0 auto;
            font-size: 17;
            text-align: left;
        }
        
        .grid-item {
            display: inline-block;
            width: 45%;
            height: auto;
            font-size: 1rem;
            vertical-align: center;
            margin: 10px;
        }
        
        .box1 {
            background-color: white;
        }
    </style>

    {% comment %} ตัวกล่อง {% endcomment %}
</head>

<body>
    <div class="container mt-5">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active"><a href="{% url 'home' %}">หลักสูตร กพค.</a></li>
        </ol>

        <div class="container mt-2">
            <div class="col-md-12">
                <h3 class="text-center">หลักสูตร {{ course.Course_Name }} {% if course.Batch_Type >= '1' %} รุ่นที่ {{ course.Batch_Type }} {% else %} <label></label> {% endif %}</h3>
                <h3 class="text-center">วันที่เริ่ม {{course.Start_Date|date:'d/m/Y'}}</h3>
                <h3 class="text-center">วันที่สิ้นสุด {{course.End_Date|date:'d/m/Y'}}</h3>
                <h3 class="text-center">สถานที่จัด {{course.Location}}</h3>
            </div>
        </div>
        <div class="card p-4">
            <div class="col-md-12 mb-3">
                <h3 class="text-center text-danger">เปิดให้ลงทะเบียนวันอังคารที่ 11 พฤกษาคม 2564 เวลา 9.00 น.</h3>
                <h3>เงื่อนไขการอบรม</h3>
                <div class="container2 mt-2">
                    <div>1. รักในการเรียนรู้ และพัฒนาตนเอง</div>
                    <div>2. สามารถจัดสรรเวลาเรียนได้</div>
                    <div>3. มีอุปกรณ์การเรียน เช่น คอมพิวเตอร์, มือถือ, แท๊บเล็ต, อินเตอร์เน็ต</div>
                </div>
            </div>
        </div>

        {% for subject in subjects %}
        <div class="grid-item box1">
            <div class="card">
                <h3 class="align-middle">วิชาที่ {{ forloop.counter }}</h3>
                <h3>{{subject.Subject_name}}</h3>
                <a href=https://virtual.yournextu.com/{{subject.Url_location}}>
                    <img src=/static/img/{{subject.Img_location}} class="center" style="width:80% ;height:200;"></img>
                </a>
                <div class="col-sm-12">{{subject.Description}}</div>
                <div class="col-sm-12">-------------------------------------------------------------------------</div>
                <div class="col-sm-12">{{subject.Learding}}</div>
                <div class="col-sm-12">{{subject.Class_duration}}</div>
            </div>
        </div>
        {% endfor %} {% if course.status == '1' or course.status == 1 %}
        <div class="card p-4">
            <div class="col-md-12 mb-3">
                <div class="col-md-12 mb-3">
                    <h3>ลงทะเบียน</h3>
                    {{ course.Course_Name }}
                    <form method="post">
                        {% csrf_token %} {% if course.Number_App > course.Number_People %} {% if course.status == '1' or course.status == 1 %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6"><label for="Emp_id"><b>ชื่อ</b> {{ profile.Fullname }}({{ profile.Emp_id }})</label></div>
                                <div class="col-sm-6"></div><label for="Emp_id"><b>สังกัด</b> {{ profile.Dept }}</label></div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <input type="text" id="Emp_tel" name="Emp_tel" class="form-control" placeholder="เบอร์มือถือ" required>
                            </div>
                        </div>
                        </br>

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-success text-center" onclick="myFunction()">ลงทะเบียน</button>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h3 class="text-center text-danger">เปิดให้ลงทะเบียนวันพฤหัสบดีที่ 1 เมษายน 2564 เวลา 8.30 น.</h3>
                                <h3 class="text-center">สอบถามข้อมูลเพิ่มเติม ได้ที่ ผพผ. เบอร์ 02-590-5869 หรือ exepea5869@gmail.com</h3>
                            </div>
                        </div>
                        {% endif %}
                        </br>
                        {% if course.PK_Course_D == 60 or course.PK_Course_D == 61 %}

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <label>ติดต่อสอบถามรายละเอียดเพิ่มเติม ได้ที่ ผพผ. เบอร์ 02-590-5869 หรือ exepea5869@gmail.com</label>
                            </div>
                        </div>
                        {% elif course.PK_Course_D == 66 %}
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <p class="text-danger">{{ course.Course_Detail }}</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <label class="text-danger">ทาง ผจค. จะส่ง link เข้าเรียน ผ่าน e-mail ที่ท่านแจ้งไว้ ล่วงหน้า 2 วัน</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <label>ติดต่อสอบถามรายละเอียดเพิ่มเติม ได้ที่ ผพผ. เบอร์ 02-590-5869 หรือ exepea5869@gmail.com</label>
                            </div>
                        </div>
                        {% endif %}
                        </br>
                        <div class="row">
                            <div class="col-sm-12 text-center"><label for="massage_error" class="text-danger text-center">{{ massage }}</label></div>
                        </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-sm-12 text-center">
                        {% for student in student %} {% if student.E_ID == profile.Emp_id %}
                        <h4>{{student.Fullname}} ได้ลงทะเบียนเรียนในวิชานี้แล้ว</h4>
                        {% endif %} {% endfor %}
                        <h4 for="Emp_id" class="text-danger text-center">หลักสูตรนี้ปิดการลงทะเบียนแล้ว</h4>
                    </div>
                </div>
                {% endif %}
                </form>
            </div>

            <table class="table table-bordered" id="example">
                <thead class="thead-light">
                    <tr class="stylefont text-center">
                        <th class="align-middle">ลำดับที่</th>
                        <th class="align-middle">รหัสพนักงาน</th>
                        <th class="align-middle">ชื่อ</th>
                        <th class="align-middle">ตำแหน่ง</th>
                        <th class="align-middle">สังกัด</th>
                        <th class="align-middle">e-mail ที่ลงทะเบียน</th>
                        <th class="align-middle">วันที่สมัคร</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in student %}
                    <tr class="stylefont text-center">
                        <td class="align-middle">{{ forloop.counter }}</td>
                        <td class="align-middle">{{ student.E_ID }}</td>
                        <td class="align-middle">{{ student.Fullname }}</td>
                        <td class="align-middle">{{ student.Position }} {% if student.Level == "M1" %}
                        </td>
                        {% elif student.Level == "M2" %}
                        </td>
                        {% elif student.Level == "M3" %}
                        </td>
                        {% elif student.Level == "M4" %}
                        </td>
                        {% elif student.Level == "M5" %}
                        </td>
                        {% elif student.Level == "M6" %}
                        </td>
                        {% elif student.Level == "S1" %}
                        </td>
                        {% elif student.Level == "S2" %}
                        </td>
                        {% else %} {{ student.Level }}</td>
                        {% endif %}
                        <td class="align-middle">{{ student.Dep }}</td>
                        <td class="align-middle">{{ student.Email }}</td>
                        <td class="align-middle">{{ student.Regist_Date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        {% endif %}
    </div>
    </div>

    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">กองพัฒนาบุคลากร แผนกจัดการความรู้ ติดต่อ 5858</li>
    </ol>
    </div>
    {% comment %}
    <div class="container mt-5">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active"><a href="{% url 'home' %}">หลักสูตร กพค.</a></li>
        </ol>

        <div class="container mt-2">
            <div class="col-md-12">
                <h3 class="text-center">หลักสูตร AAAAA รุ่นที่ 55</h3>
                <h3 class="text-center">วันที่เริ่ม 123</h3>
                <h3 class="text-center">วันที่สิ้นสุด 000</h3>
                <h3 class="text-center">สถานที่จัด online</h3>
            </div>
        </div>
        ส่วนเพิ่ม
        <div id="box-1"></div>
        <div id="box-2"></div>
        <div id="box-3"></div>
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active">สอบถามเพิ่มเติม : กองพัฒนาบุคลากร แผนกพัฒนาผู้บริหาร ติดต่อ 5869</li>
        </ol>
    </div> {% endcomment %}
    <script>
        function myFunction() {
            alert("ท่านได้ลงทะเบียนเรียบร้อย");
        }

        function Search_name() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
</body>

</html>