{% load i18n static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ลงทะเบียนฝึกอบรม</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
    <script src="{% static 'js/datatable.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {% comment %} ตัวกล่อง {% endcomment %}

    <!-- นำเข้า  CSS จาก dataTables -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">

    <!-- นำเข้า  Javascript จาก  Jquery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- นำเข้า  Javascript  จาก   dataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        //คำสั่ง Jquery เริ่มทำงาน เมื่อ โหลดหน้า Page เสร็จ 
        $(function() {
            //กำหนดให้  Plug-in dataTable ทำงาน ใน ตาราง Html ที่มี id เท่ากับ example
            $('#example').dataTable();
        });
    </script>

    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        .container {
            width: 100%;
            margin: 0 auto;
            font-size: 17;
            text-align: center;
        }
        
        .container2 {
            width: 100%;
            margin: 0 auto;
            font-size: 17;
            text-align: left;
        }
        
        .grid-item {
            display: inline-block;
            width: 20%;
            height: 300;
            font-size: 14;
            vertical-align: center;
            margin: 10px;
        }
        
        .grid-item2 {
            display: inline-block;
            width: 18%;
            height: 300;
            font-size: 13;
            vertical-align: center;
            margin: 8px;
        }
        
        .box1 {
            background-color: white;
        }
    </style>

    {% comment %} ตัวกล่อง {% endcomment %}
</head>

<body>
    <div class="container mt-5">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active"><a href="{% url 'home' %}">หลักสูตร กพค.</a></li>
        </ol>

        <div class="container mt-2">
            <div class="col-md-12">
                <h3 class="text-center">หลักสูตร {{ course.Course_Name }} {% if course.Batch_Type >= '1' %} รุ่นที่ {{ course.Batch_Type }} {% else %} <label></label> {% endif %}</h3>
                <h3 class="text-center">วันที่เริ่ม {{course.Start_Date|date:'d/m/Y'}} ถึง {{course.End_Date|date:'d/m/Y'}}</h3>
                <h3 class="text-center"></h3>
                <h3 class="text-center">รูปแบบ {{course.Location}}</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center"><label class="text-danger text-center">{{ massage }}</label></div>
        </div>
        <div class="card p-4">
            <div class="col-md-12 mb-3">
                {% if course.PK_Course_D == 3 %}
                <h3 class="text-center text-danger">เปิดให้ลงทะเบียนวันพุทธที่ 4 สิงหาคม 2564 เวลา 13.00 น.</h3>
                {% elif course.PK_Course_D == 4 %}
                <h3 class="text-center text-danger">เปิดให้ลงทะเบียนวันพฤหัสบดีที่ 5 สิงหาคม 2564 เวลา 13.00 น.</h3>
                {% elif course.PK_Course_D == 5 %}
                <h3 class="text-center text-danger">เปิดให้ลงทะเบียนวันศุกร์ที่ 6 สิงหาคม 2564 เวลา 13.00 น.</h3>
                {% else %}
                <h3 class="text-center text-danger">เปิดให้ลงทะเบียนวันที่ {{course.Open_Register}} </h3>
                {% endif %}
                <h3>📌เงื่อนไขการอบรม</h3>
                <div class="container2 mt-2">
                    <div>1. เป็นพนักงาน PEA ระดับ 2-11</div>
                    <div>2. เข้าเรียนอย่างน้อย 80% ของวิชาหลัก</div>
                    <div>3. สามารถจัดสรรเวลาเรียนได้</div>
                    <div>4. รักการเรียนรู้ และมีความพร้อมในการพัฒนาตนเอง</div>
                    <div>5. มีอุปกรณ์การเรียน เช่น มือถือ, คอมพิวเตอร์, หูฟัง, อินเตอร์เน็ต ฯลฯ</div>
                </div>
            </div>
        </div>
        <div>
            <img src=/static/img/yny_1.png  class="center" width=100% >
        </div>
        <div>
            <img src=/static/img/yny_2.png  class="center" width=100% >
        </div>
        <!--
        <h2>วิชาหลัก</h2>
        {% for subject in subjects %}
        <div class="grid-item box1">
            <div class="card">
                <div class="align-middle">วิชาที่ {{ forloop.counter }}</div>
                <div>{{subject.Subject_name}}</div>
                <a href=#>
                    <img src=/static/img/{{subject.Img_location}} class="center" style="width:80% ;height:150;"></img>
                </a>
                <div class="col-sm-12" style="font-size:10;">{{subject.Description}}</div>
                <div class="col-sm-12" style="font-size:10;">{{subject.Class_duration}}</div>
            </div>
        </div>
        {% endfor %}
        
        <h2>วิชาเลือก</h2>
        {% for subject in sub_subjects %}
        <div class="grid-item2 box1">
            <div class="card">
                <div class="align-middle">วิชาที่ {{ forloop.counter }}</div>
                <div>{{subject.Subject_name}}</div>
                <a href=#>
                    <img src=/static/img/{{subject.Img_location}} class="center" style="width:80% ;height:150;"></img>
                </a>
                <div class="col-sm-12" style="font-size:10;">{{subject.Description}}</div>
                <div class="col-sm-12" style="font-size:10;">{{subject.Class_duration}}</div>
            </div>
        </div>
        -->
        {% endfor %} {% if course.status == '1' or course.status == 1 %}
        <div class="card p-4">
            <div class="col-md-12 mb-3">
                <div class="col-md-12 mb-3">
                    <h3>ลงทะเบียน</h3>
                    {{ course.Course_Name }}
                    <form method="post">
                        {% csrf_token %} {% if course.Number_App > course.Number_People %} {% if course.status == '1' or course.status == 1 %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    กรุณากรอกเบอร์โทรศัพท์ของท่าน
                                </div>
                                <div class="col-sm-4">
                                    กรุณากรอกอีเมลพนักงานของท่าน
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" id="Emp_tel" name="Emp_tel" class="form-control" placeholder="เบอร์มือถือ" maxlength="15" required>
                                </div>
                                <div class="col-sm-4">
                                <input type="email" id="Emp_email" name="Emp_email" class="form-control" placeholder="เบอร์มือถือ" pattern="^[a-zA-Z0-9._]+@pea\.co.th$" maxlength="50" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-2">
                                    คำนำหน้าชื่อ
                                </div>
                                <div class="col-sm-4">
                                    กรุณากรอกชื่อของท่าน
                                </div>
                                <div class="col-sm-4">
                                    กรุณากรอกนามสกุลของท่าน
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <input type="text" id="Emp_pre" name="Emp_pre" class="form-control" placeholder="คำนำหน้าชือ" required>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="Emp_name" name="Emp_name" class="form-control" placeholder="ชื่อจริง" required>
                                </div>
                                <div class="col-sm-4">
                                <input type="text" id="Emp_surename" name="Emp_surename" class="form-control" placeholder="นามสกุล" required>
                                </div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col-sm-4">
                                    กรุณากรอกต่ำแหน่งของท่าน
                                </div>
                                <div class="col-sm-6">
                                    กรุณากรอกสังกัดของท่าน
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" id="Emp_position" name="Emp_position" class="form-control" placeholder="ต่ำแหน่ง" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" id="Emp_dep" name="Emp_dep" class="form-control" placeholder="สังกัด" required>
                                </div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-success text-center" onclick="myFunction()">ลงทะเบียน</button>
                                </div>
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h3 class="text-center text-danger">เปิดให้ลงทะเบียนวันจันทร์ที่ 31 พฤกษาคม 2565 เวลา 13.00 น.</h3>
                                    <h3 class="text-center">สอบถามข้อมูลเพิ่มเติม ได้ที่ ผพผ. เบอร์ 02-590-5869 หรือ exepea5869@gmail.com</h3>
                                </div>
                            </div>
                            {% endif %}
                            </br>
                            {% if course.PK_Course_D == 60 or course.PK_Course_D == 61 %}

                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <label>ติดต่อสอบถามรายละเอียดเพิ่มเติม ได้ที่ ผพผ. เบอร์ 02-590-5869 หรือ exepea5869@gmail.com</label>
                                </div>
                            </div>
                            {% elif course.PK_Course_D == 66 %}
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <p class="text-danger">{{ course.Course_Detail }}</p>
                                </div>
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <label class="text-danger">กพค. จะจัดส่งรายละเอียดการอบรมผ่าน e-mail ของ กฟภ. ล่วงหน้า 1 สัปดาห์</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <label>ติดต่อสอบถามรายละเอียดเพิ่มเติม ได้ที่ ผพผ. เบอร์ 02-590-5869 หรือ exepea5869@gmail.com</label>
                                </div>
                            </div>
                            {% endif %}
                            </br>
                            
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                {% for student in student %} {% if student.E_ID == profile.Emp_id %}
                                <h4>{{student.Fullname}} ได้ลงทะเบียนเรียนในวิชานี้แล้ว</h4>
                                {% endif %} {% endfor %}
                                <h4 for="Emp_id" class="text-danger text-center">หลักสูตรนี้ปิดการลงทะเบียนแล้ว</h4>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>

                <table class="table table-bordered" id="example">
                    <thead class="thead-light">
                        <tr class="stylefont text-center">
                            <th class="align-middle">ลำดับที่</th>
                            <th class="align-middle">รหัสพนักงาน</th>
                            <th class="align-middle">ชื่อ</th>
                            <th class="align-middle">ตำแหน่ง</th>
                            <th class="align-middle">สังกัด</th>
                            <th class="align-middle">e-mail ที่ลงทะเบียน</th>
                            <th class="align-middle">วันที่สมัคร</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in student %}
                        <tr class="stylefont text-center">
                            <td class="align-middle">{{ forloop.counter }}</td>
                            <td class="align-middle">{{ student.E_ID }}</td>
                            <td class="align-middle">{{ student.Fullname }}</td>
                            <td class="align-middle">{{ student.Position }} 
                            <td class="align-middle">{{ student.Dep }}</td>
                            <td class="align-middle">{{ student.Email }}</td>
                            <td class="align-middle">{{ student.Regist_Date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>

        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active">กองพัฒนาบุคลากร แผนกจัดการความรู้ ติดต่อ 5858</li>
        </ol>
    </div>
    {% comment %}
    <div class="container mt-5">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active"><a href="{% url 'home' %}">หลักสูตร กพค.</a></li>
        </ol>

        <div class="container mt-2">
            <div class="col-md-12">
                <h3 class="text-center">หลักสูตร AAAAA รุ่นที่ 55</h3>
                <h3 class="text-center">วันที่เริ่ม 123</h3>
                <h3 class="text-center">วันที่สิ้นสุด 000</h3>
                <h3 class="text-center">สถานที่จัด online</h3>
            </div>
        </div>
        ส่วนเพิ่ม
        <div id="box-1"></div>
        <div id="box-2"></div>
        <div id="box-3"></div>
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active">สอบถามเพิ่มเติม : กองพัฒนาบุคลากร แผนกพัฒนาผู้บริหาร ติดต่อ 5869</li>
        </ol>
    </div> {% endcomment %}
    <script>
        function myFunction() {
            alert("ท่านได้ลงทะเบียนเรียบร้อย");
        }

        function Search_name() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
</body>

</html>
