{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ลงทะเบียนฝึกอบรม</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    </head>

    <body>
        <div class="container mt-5">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item active">กองพัฒนาบุคลากร</li>
            </ol>
            <div class="card p-4">
                {% if openorclose.Number_People == openorclose.Number_App %}
                    <a href="{% url 'course_base3' '10'  %}"><img src=/static/img/8_FULL.png  class="center" width=100% ></a>
                {% else %}
                    <a href="{% url 'course_base3' '10'  %}"><img src=/static/img/8.png  class="center" width=100% ></a>
                {% endif %}
            </div> 
            <div class="card p-4">
                <h3>หลักสูตรที่เปิดลงทะเบียน</h3>
                <table class="table">
                    <thead class="thead-light">
                        <tr class="stylefont text-center">
                            <th class="align-middle">ลำดับ</th>
                            <th class="align-middle">หลักสูตร</th>
                            <th class="align-middle">รุ่น</th>
                            <th>วันที่เปิดลงทะเบียน</th>
                            <th>วันที่เริ่มต้น</th>
                            <th>วันที่สิ้นสุด</th>
                            <th>สถานที่</th>
                            <th>จำนวนคน</th>
                            <th>ลงทะเบียนแล้ว</th>
                            <th>คงเหลือ</th>
                            <th>ลงทะเบียน</th>
                            <th>รายชื่อ</th>
                        </tr>
                    </thead>
                        {{ massage }}
                        {% for course in courses %}
                            <tr>
                                <td class="align-middle">{{ forloop.counter }}</td>
                                <td class="align-middle">{{ course.Course_Name }}</td>
                                <td class="align-middle">{% if course.Batch_Type >= '1' %}{{ course.Batch_Type }}{% else %}<label></label>{% endif %}</td>
                                <td class="align-middle">{{ course.Open_Register|date:'d/m/Y' }}</td>
                                <td class="align-middle">{{ course.Start_Date|date:'d/m/Y' }}</td>
                                <td class="align-middle">{{ course.End_Date|date:'d/m/Y' }}</td>
                                <td class="align-middle">{{ course.Location }}</td>
                                <td class="align-middle">{{ course.Number_App }}</td>
                                <td class="align-middle">{{ course.Number_People }}</td>
                                <td class="align-middle">{{ course.Gap_number }}</td>
                                {% if course.Access_level == 2 %}
                                    {% if course.status == 0 %}
                                    <td class="align-middle"><a href="{% url 'course_base3' course.PK_Course_D %}">รายละเอียด</a></td>
                                    {% else %}
                                        {% if course.Number_App > course.Number_People %}
                                            <td class="align-middle"><a href="{% url 'course_base3' course.PK_Course_D %}">ลงทะเบียน</a></td>
                                        {% else %}
                                            <td class="align-middle">เต็ม</td>
                                        {% endif %}
                                        <td class="align-middle"><a href="{% url 'course_base3' course.PK_Course_D %}">รายชื่อ</a></td>
                                    {% endif %}
                                {% elif course.Access_level == 3 %}
                                    {% if course.status == 0 %}
                                    <td class="align-middle"><a href="{% url 'course_base3' course.PK_Course_D %}">รายละเอียด</a></td>
                                    {% else %}
                                        {% if course.Number_App > course.Number_People %}
                                            <td class="align-middle"><a href="{% url 'course_base3' course.PK_Course_D %}">ลงทะเบียน</a></td>
                                        {% else %}
                                            <td class="align-middle">เต็ม</td>
                                        {% endif %}
                                        <td class="align-middle"><a href="{% url 'course_base3' course.PK_Course_D %}">รายชื่อ</a></td>
                                    {% endif %}
                                {% elif course.Access_level == 1 %}
                                    {% if course.Number_App > course.Number_People %}
                                        <td class="align-middle"><a href="{% url 'course_base2' course.PK_Course_D %}">ลงทะเบียน</a></td>
                                    {% else %}
                                        <td class="align-middle">เต็ม</td>
                                    {% endif %}
                                    <td class="align-middle"><a href="{% url 'course_base2' course.PK_Course_D %}">รายชื่อ</a></td>
                                {% else %}
                                    {% if course.Number_App > course.Number_People %}
                                    <td class="align-middle"><a href="{% url 'course_title' course.PK_Course_D %}">ลงทะเบียน</a></td>
                                    {% else %}
                                    <td class="align-middle">เต็ม</td>
                                    {% endif %}
                                    <td class="align-middle"><a href="{% url 'course_title' course.PK_Course_D %}">รายชื่อ</a></td>
                                {% endif %}
                                

                            </tr>
                        {% endfor %}
                    <tbody>
                    </tbody>
                </table>
            </div>
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item active">กองพัฒนาบุคลากร แผนกจัดการความรู้ ติดต่อ 5858</li>
            </ol>
        </div>

    </body>
    
</html>
